.firstrow,
.secondrow,
.thirdrow {
    display: flex;
}

.firstrow > div,
.secondrow > div,
.thirdrow > div {
    padding: 3rem;
    width: 4rem;
    height: 4rem;
}

body {
    display: flex;
}

form, #restart-game, .congratulations {
    margin: 3rem;
}